<div class='footer'>
  <div class='bg-container'>
    <div class='footer-content'>
      <div class='information-center pull-left'>
        <h3>Information Center</h3>
        <ul class='pull-left'>
          <li class='help'>Help</li>
          <li class='about'>About Us</li>
          <li class='faq'>FAQ</li>
          <li class='contact'>Contact Us</li>
        </ul>
        <ul class='pull-left'>
          <li class='account'>Account</li>
          <li class='sitemap'>Sitemap</li>
          <li class='terms'>Terms Of Use</li>
          <li class='policy'>Private Policy</li>
        </ul>
      </div>
      <div class='follow-us pull-left'>
        <h3>Follow Us</h3>
      </div>
      <div class='newsletter pull-left'>
        <h3>Newsletter</h3>
        <span>Join our newsletter and receive special offers and money saving discounts</span>
        <br/>
        <br/>
        <input type='text' /><button>JOIN</button>
      </div>
    </div>
    <div class='copyright'>&copy;<%= Time.now.year %> BBXiaoWo Inc. All rights reserved.</div>
  </div>
</div>
