<nav id="top-nav-bar" class="pull-right top-nav-bar">
  <span class='links'>
    <a href='#'>Log in</a> or <a href='#'>Register</a>
  </span>
  <span class='icons'>
    <%= link_to(image_tag('cart_icon.png'), '/cart', :id => "link-to-cart") %>
    <%= link_to(image_tag('account_icon.png'), '/account', :id => "link-to-cart") %>
  </span>
</nav>
