<div class="tabbable">
  <ul id='product-meta-container' class="nav nav-tabs">
    <li class="active"><a href="#product-overview" data-toggle="tab">Overview</a></li>
    <li><a href="#product-specification" data-toggle="tab">Specification</a></li>
    <li><a href="#product-reviews" data-toggle="tab">Reviews</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="product-overview">
      <p></p>
    </div>
    <div class="tab-pane" id="product-specification">
      <p></p>
    </div>
    <div class="tab-pane" id="product-reviews">
      <p>.</p>
    </div>
  </div>
</div>
